h1 {

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color :midnightblue
}

body {
    background-color: slategray;
    
}

img {
    width: 550px; height: 550px;
}

h2 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: midnightblue;
}

h3 {
    color: blanchedalmond;
}

h4 {

   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: midnightblue;
}
